<!doctype html>
<html>
<body>
<h1>Dashboard</h1>
<table>
    <tr>
        <td>Username: {{user.username}}</td>
    </tr>
    <tr>
        <td>First Name: {{user.firstname}}</td>
    </tr>
    <tr>
        <td>Last Name: {{user.lastname}}</td>
    </tr>
    <tr>
        <td>Encrypted Password: {{user.password}}</td>
    </tr>
</table>
</body>
</html>